<p>Me puedes contactar por los siguientes medios</p>
<ul>
	<li><a href="https://twitter.com/josejavpg">Twitter</a></li>
	<li><a href="https://www.linkedin.com/in/jose-javier-pabon-granados-a7731184/">LinkedIn</a></li>
	<li><a href="pabonjose87@gmail.com">Mail</a></li>
</ul>