

<div class="col-md-8 col-md-offset-2">
	<h1>Perfil de <%= @name %></h1>
	<br>
	<p>Soy un tecnólogo analista y desarrollador de sistemas de información y estudiante de 8º semestre de Ingeniería de Sistemas en la Universidad Simón Bolívar</p>
	<br>
	<div class="col-md-4">
		<h3>Conocimientos:</h3>
		<ul>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Javascript</li>
			<li>PHP</li>
			<li>Ruby</li>
			<li>ASP.NET</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h3>Pasiones:</h3>
		<ul>
			<li>Programación</li>
			<li>Videojuegos</li>
			<li>Cine</li>
			<li>Series</li>
			<li>Anime</li>
			<li>Disfrutar de la gastronomía (Comer)</li>
		</ul>
	</div>
</div>


